<div class="card">
  <div class="card-header card-chart">
    <div>
      <img src={{item.photo}}>
    </div>
    <div class="ct-chart" id="dailySalesChart"></div>
  </div>
  <div class="card-content">
    <div class="item-row">
      <div>
        <h4 class="title">{{item.title}}</h4>
        <p class="category">${{item.price}}</p>
      </div>
      <div>
        <div>
          <a href="#" class="btn btn-xs btn-round btn-yellow">
            <i class="material-icons">add_shopping_cart</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div>
      <rating [(ngModel)]="item.rate" [max]="5" [readonly]="true">
      </rating>
    </div>
  </div>
</div>
